<html>
<head>
  <title>Kispagi: FairCoop Open Coop Work App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% import 'headers.html' as headers %} {{headers}}
  <style type="text/css">
  .popover {
          min-width: 30em !important;
      }
  </style>

      <script type="text/javascript">
          var $gitlab_color = "blue";
          var $ocp_color = "red";
          function getParameterByName(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
          }

          function unescapeHtml(safe) {
            return safe.replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#039;');
            }

          function toHHMMSS(time_seconds) {
              var sec_num = parseInt(time_seconds, 10); // don't forget the second param
              var hours   = Math.floor(sec_num / 3600);
              var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
              var seconds = sec_num - (hours * 3600) - (minutes * 60);
              output = ''
              if (hours > 0) {output = hours + 'h';}
              if (minutes > 0) {output += minutes + 'm';}
              if (seconds > 0) {output += seconds + 's';}

              return output;
          }


          function setUserDefaults(){
              var fixed_income_users = {{settings.fixed_income_users|tojson}};
              $.each(fixed_income_users, function(i, p) {
                  income_name = 'fix-income-'+p.area + '--' + p.username
                //   if($( "input[name="+income_name+"]" ).length == 0){
                //       console.log('Does not exist' + income_name)
                //       addUserRow(p.area, p.username, null);
                //   }
                  hours_name = 'fix-hours-'+p.area + '--' + p.username
                  volunteer_name = 'volunteer-hours-'+p.area + '--' + p.username
                  $( "input[name="+income_name+"]" ).val(p.fix_income);
                  $( "input[name="+hours_name+"]" ).val(p.fix_hours);
                  if(p.volunteer_hours) {$( "input[name="+volunteer_name+"]" ).val(p.volunteer_hours);}
              });
              $( "input[name=budget-faircoins]" ).val({{settings.fixed_budget}});


          }
          function generateUserTasksColumn(tasks){
              tasks_html = '';
              tasks.forEach(function(task){
                  $color = "red";
                  tooltip_html = ''
                  if(task.type == 'GITLAB') {
                      $color = $gitlab_color;
                      if(task.date) {
                          tooltip_html = '<b>Date: </b>' + task.date + '<hr>'
                      }
                  }
                  if(task.type == 'OCP') $color = $ocp_color;
                  //if(task.note.indexOf("OCP") >= 0)  $color = "green";


                  if(task.hasOwnProperty('events')) {
                      $contributions_html = '<ul>'
                      task.events.forEach(function(w){
                          $contributions_html += '<li><b>' + toHHMMSS(w.seconds)+ '. ' + w.date +  '</b> '+ w.title + '</li>';
                      });
                      tooltip_html = $contributions_html + '</ul><hr>';
                  }
                  if(task.validation_msgs.length > 0){
                      $validations_html = '<ul>'
                      task.validation_msgs.forEach(function(m){
                          $validations_html += '<li><b>' + m + '</b></li>'
                      });
                      $validations_html += '</ul>'
                      tooltip_html += $validations_html;
                  }

                  tooltip_html = '<p >'+ tooltip_html+ '</p>';
                  if(task.total_time_spent > 0){
                      tasks_html += '<a target="_blank" data-toggle="popover" data-html=true data-placement="right" data-trigger="hover" title="'+task.task_title+'" data-content="'+unescapeHtml(tooltip_html)+'" href="'+task.url+'"><font color="'+ $color+'">#' + task.id +'</font></a>';
                      tasks_html +=  '('+toHHMMSS(task.total_time_spent)+') '
                  }

              });
              return tasks_html;
          }
          function addUserRow(area_id, username, userdata){
              var row_html = '';
              row_html += '<tr>';
              row_html += '<td>' + username + '</td>';
              row_html += '<td style="width:200px;"><input style="width:60px;" type="number" name="fix-income-'+ area_id + '--' + username + '" value="0" min="0" />€' +
              ' x <input style="width:60px;" type="number" name="fix-hours-'+ area_id + '--' + username + '" value="0" min="0" />h</td>';

            //   row_html += '<td><input style="width:60px;" type="number" name="volunteer-hours-'+ area_id + '|' + username + '" value="0" min="0" /></td>';
              row_html += '<input  type="hidden" type="number" name="volunteer-hours-'+ area_id + '--' + username + '" value="0" min="0" />';

              //   Showing Finished Tasks
              var tasks_html = '';
              var validated_tasks_html = '';
              var voluntary_tasks_html = '';
              var total_time_spent = 0;
              var total_time_spent_str = '';
              var total_time_voluntary = 0;
              if(userdata){
                  to_validate_tasks_html = generateUserTasksColumn(userdata.tasks);
                  validated_tasks_html = generateUserTasksColumn(userdata.validated_tasks);
                  voluntary_tasks_html = generateUserTasksColumn(userdata.voluntary_tasks);
                  total_time_spent_str = toHHMMSS(userdata.total_time_spent);
                  total_time_spent = userdata.total_time_spent
                  total_time_voluntary = userdata.total_time_voluntary
                  total_time_voluntary_str = toHHMMSS(userdata.total_time_voluntary);
              }
              row_html += '<td> ' + voluntary_tasks_html + '</td>';
              row_html += '<td> ' + to_validate_tasks_html + '</td>';
              row_html += '<td>' + validated_tasks_html + '</td>';
              row_html += '<td>' + total_time_spent_str + '</td>';
              row_html += '<input type="hidden" name="time-'+ area_id + '--' + username + '" value="'+total_time_spent+'" />'
              row_html += '<input type="hidden" name="voluntary-time-'+ area_id + '--' + username + '" value="'+total_time_voluntary+'" />'
              row_html += '</tr>';
              return row_html;
          }
          function writeTable(users, area_id) {
              // declare html variable (a string holder):
              var html = '';
              $.each( users, function( username, userdata ) {
                  html += addUserRow(area_id, username, userdata);

              }); //end of main users loop
              return html;
          };

      </script>
</head>

<body>
<nav class="navbar navbar-default top-bar" role="navigation">
    <div class="container-fluid">
     <div class="navbar-header navbar-left">
        <img src="static/logo.png" width="50px">
        <a class="navbar-brand" href="#">Kispagi</a>
        <span>1 Faircoin = {{settings.FAIR2EUR_PRICE}}€</span>
        <span><font color=red>#OCP</font> <font color=blue>#Gitlab</font></span>
     </div>
    <form class="navbar-form navbar-right" name="settingsForm" id="settingsForm">

      <div class="form-group">
          <!-- <span>Max EUR/hour: </span> -->
          <input type="hidden" class="form-control" style="width:60px;" name="max-hour" value="10" min="0" />
          <!-- <span>Min EUR/hour: </span> -->
          <input type="hidden" class="form-control" style="width:60px;" name="min-hour" value="5" min="0" />
          <!-- <span>Max EUR/month: </span> -->
          <input type="hidden" class="form-control" style="width:80px;" name="max-month" value="1200" min="0" />
          <span>Budget in Faircoins: </span><input type="number" class="form-control" style="width:100px;" name="budget-faircoins" value="11111.12" min="0" />
          <input type="hidden" name="budget-euros" value="0" min="0"  />

      </div>
    </form>
  </div>
</nav>

<br />
<hr>
  {% import 'months.html' as months %} {{months}}
</div>
{% import 'intro.html' as intro %}

<form id="areasForm" name="areasForm">

<script>
    $month = getParameterByName('month');
    if($month) $('#month-filter').val($month);
</script>

{% for area in areas %}
 <center><font color="#668000" size="4"><strong> {{ area.name }} </strong></font></center>
  <div class="container-fluid">
      <div id="alerts-{{area.id}}"> </div>

      <br/>
      <div class="table-responsive">
          <table id="issues-table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
              <thead> <tr>
                  <th>User</th>
                  <th>Fixed income</th>
                  <!-- <th>Free hours</th> -->
                  <th>Voluntary work<a href="#" data-toggle="tooltip" title="In Gitlab, work with label VOLUNTARY. In OCP, work needs to be unchecked the field 'is contribution'.">*</a></th>
                  <th>Work not yet validated<a href="#" data-toggle="tooltip" title="In Gitlab, work with label COMPLETED, with hours spent, assigned to someone and with due date. In OCP, work needs dated within this month and have hours with 'is contribution'.">*</a></th>
                  <th>Work validated<a href="#" data-toggle="tooltip" title="It needs at least 2 VALIDATED comments from somebody without contributed hours in the process/task.">*</a></th>
                  <th>Time validated in Area</th>
              </tr></thead>
              <tbody id="{{area.id}}-body"> </tbody>
          </table>
      </div>
  </div>
    <script>
    var users = {{area.users|tojson}};
    var table = writeTable(users, "{{area.id}}");
    $('#{{area.id}}-body').empty().append(table);
    </script>
<hr>
{% endfor %}
<center>
<button class="centered btn-lg btn-custom" style="color: #fff !important; background-color: #668000 !important;" id="calculateBtn">Click to Calculate</button>
<a target="_blank" href="https://git.fairkom.net/faircoop/Tech/Kispagi/wikis/Help" class="centered btn-lg btn-custom" style="color: #fff !important; background-color: #672178 !important;">Help/Suggestions</a>
</center>
</form>

<script>
$(document).ready(function() {

    // $("#all-users-table").hide();
    $alluserstable = null;
    setUserDefaults();

    $('#month-filter').on('change', function() {
        window.location.href = "/?month="+this.value;
    })

    $('[data-toggle="popover"]').popover();
});

function populateResults(results) {
       if(results.hasOwnProperty('users')){
            $html_users = '';
            $.each( results['users'], function( username, userdata ) {
                $html_users += '<tr>';
                $faircoinAddress = '';
                $link_profile = '';

                $gitlab_user_html = '';
                $ocp_user_html = '';
                if(userdata.hasOwnProperty('gitlab_name')) {
                        $name =  userdata['gitlab_name']
                } else $name = username
                if(userdata.hasOwnProperty('gitlab_username')) {
                        link_profile = "https://git.fairkom.net/" + userdata['gitlab_username'];
                        $gitlab_user_html = '<td><a target="_blank" href="'+ link_profile + '">'+ $name + '</a>';
                }
                if(userdata.hasOwnProperty('ocp_id')) {
                    link_profile = "https://ocp.freedomcoop.eu/work/agent/" + userdata['ocp_id'];
                    $ocp_user_html = '<td><a target="_blank" href="'+ link_profile + '">'+ $name + '</a>';
                }
                if (!$ocp_user_html && !$gitlab_user_html)  $html_users += '<td>'+$name;

                if(userdata.hasOwnProperty('gitlab_faircoin_address')) {
                    $address_html = '<br/><font color="'+$gitlab_color+'">'+ userdata['gitlab_faircoin_address']+'</font>'
                    $html_users += $gitlab_user_html + $address_html
                }else if(userdata.hasOwnProperty('ocp_faircoin_address')) {
                    $address_html = '<br/><font color="'+$ocp_color+'">'+ userdata['ocp_faircoin_address']+'</font>'
                    if($ocp_user_html)   $html_users += $ocp_user_html + $address_html
                    else if($gitlab_user_html) $html_users += $gitlab_user_html + $address_html
                }else{
                    if($gitlab_user_html) $html_users += $gitlab_user_html + '<br/>(No wallet yet)'
                    else if($ocp_user_html) $html_users += $ocp_user_html + '<br/>(No wallet yet)'
                }
                $html_users += '</td>';

                $html_users += '<td data-order=' + userdata['final_payment'] + '>' + userdata['payment_detail'] + '</td>';
                $html_users += '<td data-order=' + userdata['percentage'] + '>' + userdata['percentage'] + '% </td>';
                $html_users += '<td data-order=' + userdata['fixed_time'] + '>' + toHHMMSS(userdata['fixed_time']) + '</td>';
                $html_users += '<td data-order=' + userdata['tasks_time'] + '>' + toHHMMSS(userdata['tasks_time']) + '</td>';
                $html_users += '<td data-order=' + userdata['voluntary_time'] + '>' + toHHMMSS(userdata['voluntary_time']) + '</td>';
                $html_users += '</tr>';
            });
            if($alluserstable)  $alluserstable.destroy()
            $('#all-users-body').empty().append($html_users);

            $alluserstable = $("#all-users-table").DataTable({paging: false,
                                             order: [[ 1, "desc" ]],
                                             searching: false,
                                             retrieve: true});
            $("#all-users-table").show();
        }
        $('#alerts').empty();
        $.each( results['alerts'], function(i, alert) {
            $alert_msg = '<div class="alert alert-'+alert["type"]+'"><strong>'+alert["msg"]+'</strong></div>';
            $('#alerts').append($alert_msg);
        });

        $('html,body').animate({scrollTop: $('#alerts').offset().top});
}

$("#HelpBtn").click(function() {
    help_url = "https://git.fairkom.net/faircoop/Tech/Kispagi/wikis/Help";
    window.open(help_url);
});

$("#calculateBtn").click(function() {
    $("#info-kispagi").remove();
    $('#all-users-body').empty();
    $.post({
        url:'/calculate/',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify([$("#settingsForm").serializeArray(), $("#areasForm").serializeArray()]),
        datatype: 'json',
        success: function(data){
          populateResults(data);
       }}
      );
    return false;
});
</script>

  <div id="alerts"> </div>
  <div  class="container">
          <table id="all-users-table" style="display: none; " class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
              <thead> <tr>
                  <th>User</th>
                  <th width="350px">Final payment</th>
                  <th>Percentage</th>
                  <th>Fixed income time</th>
                  <th>Freelance tasks time</th>
                  <th>Voluntary time</th>
              </tr></thead>
              <tbody id="all-users-body"> </tbody>
          </table>
  </div>
</body>

</html>
