<div class="input-group pull-right" style="margin-right:20px;">
    <label class="control-label" style="margin-right:10px"> Work done for: </label>
        <select id="month-filter" name="month-filter" class=" form-control-static">
          <option value="09-2017">Sep 2017 [ENDED]</option>
          <option value="10-2017">Oct 2017 [ENDED]</option>
          <option value="11-2017">Nov 2017 [ENDED]</option>
          <option value="12-2017">Dec 2017 [ENDED]</option>
          <option value="01-2018" selected="selected">Jan 2018</option>
          <option value="02-2018">Feb 2018</option>
        </select>
</div>
